<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://static.thenounproject.com/png/178831-200.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <h2 > {{this.message}}</h2>

    <form>
      <input type="text" id="username" class="fadeIn second"  [(ngModel)]="username" name="username" placeholder="login">
      <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
      <input type="button" class="fadeIn fourth" value="Register" (click)="register()">
    </form>


  </div>
</div>