<body>
<h1 >PD CAR WEBSITE</h1>
<div class="card my-5">
  <a  [routerLink]="['/user']"><h3>Logged in as: {{ user.userName }}</h3></a>

  <div class="card-body">
    <a  [routerLink]="['/newcar']"><input type="button" class="btn blue"  *ngIf="this.isAdmin" value="Add car"></a>
    <a  [routerLink]="['/rent']"><input type="button" class="btn blue"   value="View rents"></a>
    <a  [routerLink]="['/users']"><input type="button" class="btn blue" *ngIf="this.isAdmin"   value="View users"></a>
    <input type="button" class="btn blue"   value="Log out" (click)="deleteAllCookies()">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Color</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <td>{{ car.id }}</td>
          <td>{{ car.name }}</td>
          <td>{{ car.color }}</td>
          <td><img src="{{ car.imageUrl}}" style="width:500px;height:300px;"></td>
          <td>
            <a [routerLink]="['/cars', car.id]"><input type="button" class="btn blue"  *ngIf="this.isUser" value="Rent" ></a>
            <a [routerLink]="['/editcar', car.id]"><input type="button" class="btn blue"  *ngIf="this.isAdmin" value="Edit" ></a>
            <input type="button" class="btn red" *ngIf="this.isAdmin" value="Delete"  (click)="delete( car.id )">
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
